<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2 class="title">{{ 'login.title' | t }}</h2>

    <!-- Email field -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'common.email' | t }}</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        {{ 'login.emailRequired' | t }}
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        {{ 'login.invalidEmail' | t }}
      </mat-error>
    </mat-form-field>

    <!-- Password field -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'common.password' | t }}</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        {{ 'login.passwordRequired' | t }}
      </mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
        {{ 'login.passwordMin' | t }}
      </mat-error>
    </mat-form-field>

    <mat-error *ngIf="errorMessageKey">{{ errorMessageKey | t }}</mat-error>

    <!-- Login button -->
    <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="loginForm.invalid">
      {{ 'login.submit' | t }}
    </button>
  </form>
</div>
