<div class="admin-container">
  <nav class="sidebar">
    <ul class="nav-links">
      <li>
        <a
          routerLink="/admin"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ 'admin.layout.schools' | t }}</a
        >
      </li>
      <li>
        <a routerLink="/admin/school-lessons" routerLinkActive="active"
          >{{ 'admin.layout.lessons' | t }}</a
        >
      </li>
      <li>
        <a routerLink="/admin/school-rooms" routerLinkActive="active"
          >{{ 'admin.layout.rooms' | t }}</a
        >
      </li>
      <li>
        <a routerLink="/admin/school-fees" routerLinkActive="active"
          >{{ 'admin.layout.fees' | t }}</a
        >
      </li>
      <li>
        <a routerLink="/admin/school-notes" routerLinkActive="active"
          >{{ 'admin.layout.notes' | t }}</a
        >
      </li>
    </ul>
    <div class="logout">
      <a (click)="logout()">{{ 'admin.layout.logout' | t }}</a>
    </div>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
