<div class="admin-container">
  <nav class="sidebar">
    <ul class="nav-links">
      <li>
        <a
          routerLink="/admin"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >设置学校</a
        >
      </li>
      <li>
        <a routerLink="/admin/school-lessons" routerLinkActive="active"
          >设置学校课程</a
        >
      </li>
      <li>
        <a routerLink="/admin/school-rooms" routerLinkActive="active"
          >设置学校宿舍</a
        >
      </li>
      <li>
        <a routerLink="/admin/school-fees" routerLinkActive="active"
          >设置学校学费</a
        >
      </li>
      <li>
        <a routerLink="/admin/school-notes" routerLinkActive="active"
          >设置学校描述</a
        >
      </li>
    </ul>
    <div class="logout">
      <a (click)="logout()">退出登录</a>
    </div>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
