.git
.github
.vs

**/bin
**/obj
**/node_modules
**/dist

*.user
*.suo
*.log

xiaojuanschoolpayment.client/.angular
xiaojuanschoolpayment.client/homepage-*.png
xiaojuanschoolpayment.client/*-desktop.png
xiaojuanschoolpayment.client/*-mobile.png
