/.pnpm-store
/.vs
/artifacts
/xiaojuanschoolpayment.client/.chrome-cdp-preview
/xiaojuanschoolpayment.client/obj
/XiaoJuanSchoolPayment.Server/bin
/XiaoJuanSchoolPayment.Server/obj/Debug/net8.0
ng-serve-iu.err.log
ng-serve-iu.out.log
XiaoJuanSchoolPayment.Server/obj/project.assets.json
/XiaoJuanSchoolPayment.Server/obj
xiaojuanschoolpayment.client/ng-serve-cip.err.log
xiaojuanschoolpayment.client/ng-serve-cip.out.log
xiaojuanschoolpayment.client/ng-serve.err.log
xiaojuanschoolpayment.client/ng-serve.out.log
xiaojuanschoolpayment.client/ng-server.err.log
xiaojuanschoolpayment.client/ng-server.out.log
xiaojuanschoolpayment.client/we-devserver.err.log
xiaojuanschoolpayment.client/we-devserver.out.log
xiaojuanschoolpayment.client/xiaojuanschoolpayment.client.esproj.user
XiaoJuanSchoolPayment.Server/XiaoJuanSchoolPayment.Server.csproj.user
XiaoJuanSchoolPayment.slnLaunch.user
