<div class="main-container">
  <nav class="sidebar">
    <ul class="nav-links">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    </ul>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
