<h2 mat-dialog-title>{{ 'dialog.editNoteTitle' | t }}</h2>

<mat-dialog-content [formGroup]="form" style="display: block; max-width: 520px">
  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>{{ 'common.school' | t }}</mat-label>
    <mat-select formControlName="schoolId" required>
      <mat-option *ngFor="let s of schools" [value]="s.id">{{
        s.name
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('schoolId')?.hasError('required')">{{
      'common.required' | t
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 100%">
    <mat-label>{{ 'common.description' | t }}</mat-label>
    <input matInput formControlName="notes" required />
    <mat-error *ngIf="form.get('notes')?.hasError('required')">{{
      'common.required' | t
    }}</mat-error>
  </mat-form-field>

  <mat-dialog-actions>
    <button mat-button (click)="cancel()" [disabled]="saving">{{
      'common.cancel' | t
    }}</button>
    <button
      mat-flat-button
      color="primary"
      (click)="save()"
      [disabled]="saving || form.invalid"
    >
      {{ 'common.save' | t }}
    </button>
  </mat-dialog-actions>
</mat-dialog-content>
